apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-cm0
  labels:
    io.kompose.service: prometheus
  annotations:
    use-subpath: "true"

data:
  prometheus.yml: |+
    global:
      scrape_interval: 15s
      evaluation_interval: 15s
      external_labels:
        monitor: 'mealmonitor-monitor'

    scrape_configs:
      # Eureka Server
      - job_name: 'eureka-server'
        metrics_path: '/actuator/prometheus'
        static_configs:
          - targets: ['eureka-server:8761']
            labels:
              application: 'MealMonitor-EurekaServer'

      # API Gateway
      - job_name: 'gateway'
        metrics_path: '/actuator/prometheus'
        static_configs:
          - targets: ['gateway:8080']
            labels:
              application: 'MealMonitor-Gateway'

      # User Service
      - job_name: 'user-service'
        metrics_path: '/actuator/prometheus'
        static_configs:
          - targets: ['user-service:8084']
            labels:
              application: 'MealMonitor-UserService'

      # Canteen Service
      - job_name: 'canteen-service'
        metrics_path: '/actuator/prometheus'
        static_configs:
          - targets: ['canteen-service:8086']
            labels:
              application: 'MealMonitor-CanteenService'

      # Review Service
      - job_name: 'review-service'
        metrics_path: '/actuator/prometheus'
        static_configs:
          - targets: ['review-service:8082']
            labels:
              application: 'MealMonitor-ReviewService'

      # Notification Service
      - job_name: 'notification-service'
        metrics_path: '/actuator/prometheus'
        static_configs:
          - targets: ['notification-service:8089']
            labels:
              application: 'MealMonitor-NotificationService'

      # Poll Service
      - job_name: 'poll-service'
        metrics_path: '/actuator/prometheus'
        static_configs:
          - targets: ['poll-service:8087']
            labels:
              application: 'MealMonitor-PollService'

      # Moderation Service
      - job_name: 'moderation-service'
        metrics_path: '/actuator/prometheus'
        static_configs:
          - targets: ['moderation-service:8088']
            labels:
              application: 'MealMonitor-ModerationService'

      # Zipkin (optional - exposes /metrics)
      - job_name: 'zipkin'
        metrics_path: '/metrics'
        static_configs:
          - targets: ['zipkin:9411']
            labels:
              application: 'Zipkin'

      # Prometheus itself
      - job_name: 'prometheus'
        static_configs:
          - targets: ['localhost:9090']
            labels:
              application: 'Prometheus'
