apiVersion: v1
kind: Service
metadata:
  annotations:
    kompose.cmd: C:\ProgramData\chocolatey\lib\kubernetes-kompose\tools\kompose.exe convert --out k8s/
    kompose.version: 1.37.0 (fb0539e64)
  labels:
    io.kompose.service: user-service
  name: user-service
spec:
  type: ClusterIP
  ports:
    - name: "8084"
      port: 8084
      targetPort: 8084
      protocol: TCP
  selector:
    io.kompose.service: user-service
